<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administrator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="#" th:action="@{/createUser}" method="get">
    <p><input type="submit" class="button" value="Add User" name="addUser" />
</form>

<form action="#" th:action="@{/updateUser}" method="get">
    <p><input type="submit" class="button" value="Update User" name="updateUser" />
</form>

<form action="#" th:action="@{/findUser}" method="get">
    <p><input type="submit" class="button" value="Find User" name="findUser" />
</form>

<form action="#" th:action="@{/deleteUser}" method="get">
    <p><input type="submit" class="button" value="Delete User" name="deleteUser" />
</form>

<form action="#" th:action="@{/createSaloon}" method="get">
    <p><input type="submit" class="button" value="Create Saloon" name="createSaloon" />
</form>

<form action="#" th:action="@{/deleteSaloon}" method="get">
    <p><input type="submit" class="button" value="Delete Saloon" name="deleteSaloon" />
</form>

</body>
</html>