<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Release Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Insert Hospitalization Data</h1>
<form action="#" th:action="@{/hospitalizationReleaseForm}" th:object="${hospitalizationDto}" method="post">
    <table>
        <tr>
            <td>Personal Number:</td>
            <td><input type="text" th:field="*{patient.personalNumber}" /></td>
            <td th:if="${#fields.hasErrors('patient')}" th:errors="*{patient}">Personal Number Error</td>
        </tr>
        <tr>
            <td>Date Of Admission:</td>
            <td><input type="date" id="admissionDate" th:id="admissionDate" th:field="*{admissionDate}" /></td>
            <td th:if="${#fields.hasErrors('admissionDate')}" th:errors="*{admissionDate}">Admission Date Error</td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></td>
        </tr>
    </table>
</form>

<form action="#" th:action="@{/goSecretaryHome}" method="get">
    <p><input type="submit" class="button" value="Go To Homepage" name="goHome" />
</form>

</body>
</html>