<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Success!</title>
</head>
<h1>Success!</h1>
<body>

<form action="#" th:action="@{/goSecretaryHome}" method="get">
    <p><input type="submit" class="button" value="Go To Homepage" name="goSecretaryHome" />
</form>

<!--<form action="#" th:action="@{/seeAllUsers}" method="get">
    <p><input type="submit" class="button" value="See All Employees" name="seeAll" />
</form>-->
<div id="snackbar"></div>

</body>
</html>