<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form action="#" th:action="@{/createPatient}" method="get">
    <p><input type="submit" class="button" value="Add patient" name="addPatient"/>
</form>

<form action="#" th:action="@{/updatePatient}" method="get">
    <p><input type="submit" class="button" value="Update Patient" name="updatePatient"/>
</form>

<form action="#" th:action="@{/findPatient}" method="get">
    <p><input type="submit" class="button" value="Find Patient" name="findPatient"/>
</form>

<form action="#" th:action="@{/makeAppointment}" method="get">
    <p><input type="submit" class="button" value="Make an Appointment" name="makeAppointment"/>
</form>

<form action="#" th:action="@{/findConsultations}" method="get">
    <p><input type="submit" class="button" value="Find All Consultations by Patient" name="findConsultations"/>
</form>

<form action="#" th:action="@{/createHospitalization}" method="get">
    <p><input type="submit" class="button" value="Hospitalize Patient" name="createHospitalization"/>
</form>

<form action="#" th:action="@{/releaseHospitalization}" method="get">
    <p><input type="submit" class="button" value="Release Patient" name="releaseHospitalization"/>
</form>

<form action="#" th:action="@{/printCSVReport}" method="get">
    <p><input type="submit" class="button" value="Print CSV Report" name="printCSVReport"/>
</form>

<form action="#" th:action="@{/printPDFReport}" method="get">
    <p><input type="submit" class="button" value="Print PDF Report" name="printPDFReport"/>
</form>

</body>
</html>